[submodule "public/pcl-home-zx"]
	path = public/pcl-home-zx
	url = https://github.com/MC13veterangamerprogrammingking/pcl-home-zx.git
[submodule "src/locales"]
	path = src/locales
	url = git@github.com:PCL-Community/PCL-i18n-locales.git
[submodule "src-terracotta"]
	path = src-terracotta
	url = git@github.com:PCL-Community/Terracotta-lib.git
